* {
    font-family: Impact, Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: darkcyan;
    height: 75px;
    margin: 20px 0;
}

h1 {
    display: inline;
    color: white;
    font-size: 32px;
}

.recipe1,
.recipe2,
.recipe3 {
    height: 350px;
    outline: auto;
    margin: 40px
}
